@model IEnumerable<Emlak_Sitesi_1.Models.yorum>

<hr/>


    @foreach (var item in Model)
    {

        <tr>
           
            <td>@item.kullanici.kullaniciAdSoyad : </td>

            <td>@item.yorumİcerik</td>
            <td>@Html.ActionLink("Sil", "Delete", new { id = item.yorumID })</td>

        </tr>

    }
